<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="css/reset.css">
   <link rel="stylesheet" href="css/style.css">
   <title>{{ site_title }}</title>
</head>
<body>
    <header>
        <a href="index.html" class="nav-home-button" id="top">HOME</a>
        <form action="#" method="get" class="search-form">
            <button type="submit"><i class="fas fa-search"></i></button>
            <input type="text" placeholder="Search Athlete" name="q">
        </form>
    </header>

    <main>
        <h1>{{ page_heading }}</h1>
        <section class="meet-results">
            <div class="season-box">
                <h3>Top 10 Men</h3>
                <table>
                    <tr>
                        <th>Rank</th>
                        <th>Name</th>
                        <th>Time</th>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td><a href="athlete-alex.html">{{ mens_top10[0]['Name'] }}</a></td>
                        <td>{{ mens_top10[0]['Time'] }}</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td><a href="athlete-amir.html">{{ mens_top10[1]['Name'] }}</a></td>
                        <td>{{ mens_top10[1]['Time'] }}</td>
                    </tr>
                </table>
            </div>
            <div class="season-box">
                <h3>Top 10 Women</h3>
                <table>
                    <tr>
                        <th>Rank</th>
                        <th>Name</th>
                        <th>Time</th>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td><a href="athlete-adrienne.html">{{ womens_top10[0]['Name'] }}</a></td>
                        <td>{{ womens_top10[0]['Time'] }}</td>
                    </tr>
                </table>
            </div>
        </section>

    </main>
    
    <footer>
        <p>Created by Kaleyn Lin, Nick Pisarczyk, and Aditya Tambe for SI 339</p>
        <a href="#top">Back to top</a>
    </footer>

</body>
</html>