<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="css/reset.css">
   <link rel="stylesheet" href="css/style.css">
   <title>{{ site_title }}</title>
</head>
<body>
    <header>
        <a href="index.html" class="nav-home-button">HOME</a>
        <form action="#" method="get" class="search-form">
            <button type="submit"><i class="fas fa-search"></i></button>
            <input type="text" placeholder="Search Athlete" name="q">
        </form>
    </header>

    <main>
        <h1>{{ page_heading }}</h1>
        <section class="meet-results">
            <div class="season-box">
                <h3>Top 10 Men</h3>
                <table>{{ mens_top10_table | safe }}</table>
            </div>
            <div class="season-box">
                <h3>Top 10 Women</h3>
                <table>{{ womens_top10_table | safe }}</table>
            </div>
        </section>
    </main>
</body>
</html>