<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/style.css">
    <title>Athlete Photos</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body>

    <header>
        <a href="index.html" class="nav-home-button" id="top">HOME</a>
        <form action="#" method="get" class="search-form">
            <input id="search-input" type="text" placeholder="Search Athlete" name="q">
            <button type="submit" aria-label="Search">
                <i class="fas fa-search"></i>
            </button>
        </form>
    </header>  

    <main>
        <section class="profile-header">
            <div class="profile-picture">
                <img src="img/placeholder_pfp.jpg" alt="Profile picture">
            </div>
            <div class="profile-details">
                <h2>{{ athlete_name }}, {{ athlete_age }}</h2>
                <p>{{ athlete_school }}, Grade {{ athlete_grade }}</p>
                <a href="athlete.html">
                    <button class="photos-button">Stats</button>
                </a>
            </div>
        </section>

        <section class="photo-gallery">
            <h3>Photo Gallery</h3>
            <div class="photo-grid">
                {{ photo_gallery | safe }}
            </div>
        </section>
    </main>
    
    <footer>
        <p>Created by Kaleyn Lin, Nick Pisarczyk, and Aditya Tambe for SI 339</p>
        <a href="#top">Back to top</a>
    </footer>
    
</body>
</html>